/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap'); */

body {
  font-family: Open Sans, Helvetica, sans-serif, Arial;
  text-align: center;
  background-color: #E7ECEF;
}

.key-tile {
  background-color: #fff;
}

#title {
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 2px;
}

#board {
  width: 350px;
  /* height: 420px; */
  margin: 0 auto;
  margin-top: 3px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tile {
  /* Box */
  border: 3px solid #D2D9E3;
  border-radius: 16px;
  background-color: #ffffff;
  width: 60px;
  height: 58px;
  margin: 2.5px;

  /* Text */
  color: black;
  font-size: 28px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.correct {
  background: url("images/pattern-checker.png");
  background-size: 60px;
  background-color: #61D7B8;
  border-color: #E7ECEF;
}

.present {
  background: url("images/pattern-plus.png");
  background-size: 60px;
  background-color: #FCCF2E;
  border-color: #E7ECEF;
}

.absent {
  background: url("images/pattern-zigzag.png");
  background-size: 60px;
  background-color: #C3CFDF;
  border-color: #E7ECEF;
}

#notInWordList {
  display: none;
  font-size: 16px;
}

.not {
  display: block;
  z-index: 1000;
}

.keyboard-row {
  width: 400px;
  cursor: pointer;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.key-tile {
  /* width: 48px;
  height: 48px; */
  width: 36px;
  height: 40px;
  margin: 2px;
  /* background: #FFFFFF; */
  box-shadow: 0px 3px 4px rgba(39, 76, 119, 0.16);
  border-radius: 6px;

  /* Text */
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.enter-key-tile {
  margin: 24px;
  color: #fff;
  padding: 12px 68px;
  position: absolute;
  background: #7E81FC;
  box-shadow: 0px 3px 4px rgb(39 76 119 / 16%);
  border-radius: 80px;

  /* Text */
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.enter-key-tile:hover {
  background:#383A85;
}

.diplay-none {
  display: none !important;
}

.btn-secondary {
    font-size: 14px;
    padding: 8px 20px;
    gap: 10px;
    position: absolute;
    margin: 32px;
    margin-left: 106px;
    border: none;
    background: #FFFFFF;
    box-shadow: 0px 3px 4px rgb(39 76 119 / 16%);
    border-radius: 80px;
    color: #274C77;
}

/* .btn-secondary:hover {
  background: #7E81FC;
} */

.rules {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #274C77;
  margin-top: 120px;
  background: #fff;
  padding: 24px;
}

.instruction-title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  color: #274C77;
  text-align: left;
}

.instruction-text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #274C77;
  text-align: left;
  /* padding-left: 8px; */
}

.instruction-letter1 {
  font-size: 26px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  text-align: center;
  width: 54px;
  height: 52px;
  background: url(images/pattern-checker.png), #61D7B8;
  background-size: 80px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
}

.instruction-letter2 {
  font-size: 26px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  text-align: center;
  width: 54px;
  height: 52px;
  background: url(images/pattern-plus.png), #FCCF2E;
  background-size: 60px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
}

.instruction-letter3 {
  font-size: 26px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  text-align: center;
  width: 54px;
  height: 52px;
  background: url(images/pattern-zigzag.png), #C3CFDF;
  background-size: 60px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
}